@font-face {
   font-family: "Dancing";
   src: url(Fonts/Dancing_Script,Qwitcher_Grypen/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
* {
   margin: 0;
   padding: 0;
   background-color: #fff;
 }
/* Navbar */
 .name {
  position: fixed;
  z-index: 2;
   width: 100%;
   background-color: #00bebe;
   display: flex;
   justify-content: space-between;
 }
 .name h1 {
   background-color: #00bebe;
   color: white;
   padding: 20px;
   font-family: "Dancing";
 }

.navlist {
  background-color: #00bebe;
  display: flex;
  align-items: center;
}

 .navlist li {
  background-color: #00bebe;
  list-style: none;
 }

 .navlist ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 30px;
  padding: 30px;
  background-color: #00bebe;
 }

 .navlist a {
  background-color: #00bebe;
  text-decoration: none;
  color: white;
 }

 .navlist a:hover {
  color: black;
  font-size: 15px;
 }

 /* Banner */
.banner {
  background-image: url(Images/banner2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  animation: light 20s linear infinite;
}

@keyframes light {
  0%{background-image: url(Images/banner2.jpg);}
  14.2%{background-image: url(Images/banner3.jpg);} 
  28.5%{background-image: url(Images/banner4.jpg);} 
  42.8%{background-image: url(Images/banner5.jpg);} 
  57.1%{background-image: url(Images/banner6.jpg);} 
  71.4%{background-image: url(Images/banner7.jpg);}
  85.6%{background-image: url(Images/banner8.jpg);}
  100%{background-image: url(Images/banner2.jpg);} 
}

.banner h1 {
  background: none;
  color: white;
  font-size: 4rem;
  font-weight: 500;
  text-shadow: .2rem .2rem 1rem;
}

.banner p {
  background: none;
  color: white;
  font-size: 2.5rem;
}

.small {
  background: none;
}

.search {
  background: none;
  width: 45vw;
  height: 6vh;
  display: flex;
}

.search img {
  height: 2.5vh;
  background: none;
}

.search input {
  height: 100%;
  width: 70%;
  border: none;
  border-radius: 10px;
}

.search input:hover {
  border: 1px solid white;
  height: 95%;
  width: 70%;
}

.search button {
  height: 100%;
  width: 30%;
  background-color: #00b3b3;
  border: none;
  font-size: 3vh;
  color: black;
  border: 1px solid #00b3b3;
  border-radius: 10px;
}

.search a {
  background: none;
  color: black;
  text-decoration: none;
}

.search button:hover {
  background: none;
  font-size: 3.2vh;
  border: 2.5px solid #00b3b3;
}

/* Video */
.video-container {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-top: 2vh;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;object-fit: fill;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  background: none;
  text-align: center;
  z-index: 1;
}

.text-overlay h1 {
  font-size: 2.5rem;
  background: none;
}

.text-overlay p {
  font-size: 1.5rem;
  background: none;
}

/* about */
#about{
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about img {
  height: 100%;
  width: 30vw;
}

.about-heading {
  background-image: url(Images/about-background.jpg);
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.about-heading h2 {
  background: none;
  font-size: 2rem;
  font-weight: 500;
}

.about-heading p {
  background: none;
  font-size: 1.5rem;
}

.about-small {
  display: flex;
  justify-content: space-around;
  background: none;
}

.s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
}

.s h2 {
  background: none;
  font-weight: 900;
}

/* Books */

.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.trending h2 {
  font-weight: 200;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.book-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin: 15px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  max-width: 100%;
  border-radius: 10px;
  height: 30vh;
}

.book-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.book-title a {
  color: #000;
  text-decoration: none;
}

.book-author {
  font-style: italic;
  color: #666;
  margin-bottom: 10px;
}

.book-description {
  font-size: 0.9rem;
  color: #555;
}

.trending-button {
  display: flex;
  justify-content: center;
}

.trending-button button {
  background-color: #00b3b3;
  width: 20vw;
  height: 7vh;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00b3b3;
}

.trending-button a{
  text-decoration: none;
}

.trending-button button:hover {
  background: none;
  color: #00b3b3;
}

/* Boxes */

.boxes {
  width: 100%;
  height: auto;
  display: flex;
}

.box {
  width: 90%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  padding: 1vh;
}

.box h1 ,.box a{
  background: none;
  color: white;
  text-decoration: none;
}

@keyframes simple {
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

.box a:hover, .box h1:hover {
  animation: simple 2s ease-in-out infinite;
}

@keyframes easy {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

.box:hover {
  animation: easy 1s infinite;
}

#box1 {
  background-image: url(Images/logo\ background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#box2 {
  background-image: url(Images/mechnical.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#box3 {
  background-image: url(Images/electrical.jfif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#box4 {
  background-image: url(Images/electronic.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Footer */

.footer {
  display: flex;
  gap: 2vh;
  justify-content: space-between;
  background-color: #00b3b3;
  padding: 5%;
  font-size: small;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer h3, .footer a, .footer p{
  background: none;

}

.footer a {
  color: black;
  text-decoration: none;
}

.library {
  display: flex;
  gap: 2vh;
  flex-direction: column;
  align-items: center;
  background-color: #00b3b3;
}

.discover {
  display: flex;
  gap: 2vh;
  flex-direction: column;
  align-items: center;
  background-color: #00b3b3;
}

.develop {
  display: flex;
  gap: 2vh;
  flex-direction: column;
  align-items: center;
  background-color: #00b3b3;
}

.help {
  display: flex;
  gap: 2vh;
  flex-direction: column;
  align-items: center;
  background-color: #00b3b3;
}